body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://brown-dear-tarsier-893.mypinata.cloud/ipfs/QmWpUE4w3BKjQ87pLaDypnPEmje7fXoHstHDkug6nuKizb');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

main {
    padding: 1em;
    flex: 1;
    position: relative;
    z-index: 1;
}

#ton-connect {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
